.contact{
    margin-top: $height-header;
    position: relative;

    @include to(md){
        margin-top: $height-header-tablet;
    }
    @include to(m){
        margin-top: $height-header-mobile;
    }

    &:before{
        content: "";
        background-image: url("../img/partials/partial-1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 100%;
        width: 100%;
        max-height: 150px;
        max-width: 120px;

        @include to(l){
            opacity: 0.5;
        }
    }
    &:after{
        content: "";
        background-image: url("../img/partials/partial-7.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        right: 0;
        top: 200px;
        height: 100%;
        width: 100%;
        max-height: 120px;
        max-width: 50px;
        opacity: 0.3;

        @include to(850px){
            display: none;
        }
    }

    .main-wrap{
        padding: 100px 0 80px 0;

        @include to(850px){
            padding: 80px 0 60px 0;
        }

        .container{
            .item{
                display: flex;
                justify-content: space-between;

                @include to(850px){
                    flex-direction: column;
                }

                .wrap-form{
                    width: 100%;
                    max-width: 450px;
                    position: relative;
                    z-index: 3;

                    @include fromTo(850px,l){
                        padding-right: 40px;
                    }
                    @include to(850px){
                        margin: 0 auto;
                    }

                    .title{
                        font-size: 38px;
                        color: $fifth-color;

                        @include to(850px){
                            text-align: center;
                            font-size: 30px;
                        }
                    }
                    .subtitle{
                        color: $fifth-color;
                        margin: 15px 0 20px 0;

                        @include to(850px){
                            text-align: center;
                        }

                        span{
                            font-weight: 600;
                        }
                    }
                    .form{
                        width: 100%;

                        .input-wrap{
                            margin-bottom: 15px;

                            &:last-child{
                                margin-bottom: 0;
                            }

                            input,
                            textarea{
                                width: 100%;
                                border-radius: 5px;
                                outline: none;
                                border: 1px solid rgba($text,.3);
                                font-family: "campton";
                                font-size: 16px;
                                color: $text;
                                padding: 10px 15px;

                                &::placeholder{
                                    opacity: .5;
                                }
                            }
                            textarea{
                                height: 80px;
                                resize: none;
                            }
                            .button{
                                color: $blanco;
                                background-color: $first-color;
                                border-color: $first-color;
                                cursor: pointer;
                                transition: all .3s;

                                &:hover{
                                    background-color: darken($first-color, 15%);
                                }
                            }
                        }
                    }
                }
                .info-extra{
                    width: 100%;
                    max-width: 450px;

                    @include to(850px){
                        margin: 0 auto;
                        margin-top: 40px;
                    }

                    .list{
                        display: flex;
                        justify-content: space-between;

                        @include to(m){
                            flex-direction: column;
                        }

                        .icon{
                            position: relative;
                            text-align: center;
                            margin: 0 10px;
                            cursor: pointer;

                            @include fromTo(850px, l){
                                margin: 0 5px;
                            }
                            @include to(m){
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            &:before{
                                font-family: 'Flaticon';
                                color: $first-color;
                                font-size: 35px;
                                transition: all .3s;

                                @include to(m){
                                    font-size: 30px;
                                }
                            }

                            &:hover{
                                &:before{
                                    color: darken($first-color, 15%);
                                }
                            }

                            &.address{
                                &:before{
                                    content: $font-Flaticon-marcador-de-posicion;
                                }
                            }
                            &.phone{
                                &:before{
                                    content: $font-Flaticon-llamada-telefonica;
                                }
                            }
                            &.mail{
                                &:before{
                                    content: $font-Flaticon-mensaje;
                                }
                            }
                            .text{
                                display: block;
                                color: $fifth-color;

                                @include to(m){
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                    .wrap-image{
                        margin-top: 30px;

                        @include to(850px){
                            max-width: 350px;
                            margin: 30px auto 0 auto;
                        }
                    }
                }
            }
        }
    }
}