.main-header{
    background-color: $blanco;
    padding: 15px 0;
    position: fixed;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    &.scroll{
        padding: 10px 0;
        box-shadow: 0 0 3px rgba($text,.1);
    }
    .container{
        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main-logo{
                img{
                    max-width: 190px;

                    @include to(md){
                        max-width: 170px;
                    }
                    @include to(m){
                        max-width: 160px;
                    }
                }
            }
            .main-nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &__toggle{
                    display: none;

                    @include to(l){
                        display: block;
                        order: 2;
                        margin-top: 10px;
                    }
                }

                .main-menu{
                    display: flex;
                    align-items: center;

                    @include to(l){
                        position: absolute;
                        right: -300px;
                        top: 100%;
                        flex-direction: column;
                        order: 1;
                        background: $blanco;
                        min-width: 300px;
                        opacity: 0;
                        transition: all .8s;
                        z-index: 999;

                        &.active{
                            opacity: 1;
                            right: 0;
                        }
                    }
                    @include to(m){
                        min-width: 100%;
                        padding: 0 50px;
                        right: -100%;
                    }

                    &__item{
                        @include to(l){
                            padding: 12px 0;
                            border-top: 1px solid rgba($text,.1);
                            width: 100%;

                            &:last-child{
                                border-bottom: 0;
                            }
                        }
                        .link{
                            color: $text;
                            margin: 0 20px;
                            font-size: 17px;
                            font-weight: 600;
                            transition: all .5s;

                            @include to(l){
                                text-align: center;
                                display: block;
                            }

                            &.active,
                            &:hover{
                                color: $first-color;
                            }
                        }
                        &.ws{
                            display: none;

                            @include to(m){
                                display: block;
                            }

                            .btn-whatsapp{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;

                                .icon{
                                    max-width: 30px;
                                }
                                .text{
                                    color: $text;
                                    font-size: 13px;
                                    line-height: 1.2;
                                    padding-left: 5px;
                                    
                                    span{
                                        text-align: center;
                                        display: block;
                                        color: $negro2;
                                        font-size: 24px;
                                        font-weight: 600;
                                        letter-spacing: .5px;
                                    }
                                }
                            }
                        }
                    }
                }

                > .btn-whatsapp{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    max-width: 190px;
                    margin-left: 20px;

                    @include to(l){
                        margin-right: 50px;
                        margin-left: 0;
                    }
                    @include to(600px){
                        margin-right: 35px;
                    }
                    @include to(m){
                        display: none;
                    }

                    .icon{
                        max-width: 50px;

                        @include to(md){
                            max-width: 40px;
                        }
                    }
                    .text{
                        color: $text;
                        font-size: 14px;
                        line-height: 1.2;
                        padding-left: 5px;

                        @include to(md){
                            font-size: 13px;
                        }
                        
                        span{
                            text-align: center;
                            display: block;
                            color: $negro2;
                            font-size: 27px;
                            font-weight: 600;

                            @include to(md){
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}